.banner {
  height: 200px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 767.98px) {
    height: 150px;
  }
}

.banner-title {
  top: 50%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
