.cart-qty {
  width: 100px;
}
.cart-section {
  overflow-x: hidden;
}

.cart-table th,
.cart-table td {
  white-space: nowrap;
  vertical-align: middle;
}

@media (max-width: 767.98px) {
  .cart-qty input {
    min-width: 60px;
  }
}
