.pay-header.active {
  color: #2a3132 !important;
  font-size: 24px;
}
.normal-input {
  &.error {
    input {
      border: 1px solid $danger;
    }

    .error-text {
      opacity: 1;
      margin-top: 0;
      font-size: 0.875em;
    }
  }
}
