.favorite-table {
  width: 200px;
}
.favorite-table-img {
  height: 100px;
  background-size: cover;
  background-position: center center;
}
.empty-state {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .empty-state {
    margin-bottom: 100px;
  }
}

@media (min-width: 1200px) {
  .empty-state {
    margin-bottom: 150px;
  }
}
