.footer-icon-hover {
  i {
    padding-right: 8px;
    transition: all 0.4s ease;
  }
  &:hover i {
    padding-right: 12px;
  }
}
.footer-icon-size {
  font-size: 24px;
}
.contact-service .footer-icon-hover:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}
