.home {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/src/assets/images/home-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-content {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  padding-top: 20px;
  background-color: rgba(55, 55, 55, 0.6);
  padding-bottom: 20px;
}

.more {
  top: 55vh;
  &:active {
    color: white !important;
  }
}

.home-first-btn {
  background-color: rgba(55, 55, 55, 0.6);
  color: white;
  &:hover {
    background-color: rgba(55, 55, 55, 0.6);
  }
  &:active {
    color: white !important;
  }
}

.home-second-text {
  height: 3rem;
}

.homebtn-img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}

.homebtn-img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://storage.googleapis.com/vue-course-api.appspot.com/funnietravel-api/1701746873487.jpg);
}

.homebtn-img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://storage.googleapis.com/vue-course-api.appspot.com/funnietravel-api/1701758529246.jpg);
}

.homebtn-img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://storage.googleapis.com/vue-course-api.appspot.com/funnietravel-api/1701758200995.jpg);
}

.homebtn-img4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://storage.googleapis.com/vue-course-api.appspot.com/funnietravel-api/1701310883317.jpg);
}

.about {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/src/assets/images/home1.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home-about-btn {
  &:active {
    color: white !important;
  }
}

.home-bottom-content {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/src/assets/images/home2.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}
.top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  i {
    font-size: 24px;
    color: #336b87;
  }
  @media screen and (max-width: 767.98px) {
    bottom: 15px;
    right: 15px;
    i {
      font-size: 20px;
    }
  }
}
