.home {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://i.imgur.com/uqtYcRW.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-content {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  padding-top: 20px;
  background-color: rgba(55, 55, 55, 0.6);
  padding-bottom: 20px;
}

.more {
  top: 55vh;
  &:active {
    color: white !important;
  }
}

.home-first-btn {
  background-color: rgba(55, 55, 55, 0.6);
  color: white;
  &:hover {
    background-color: rgba(55, 55, 55, 0.6);
  }
  &:active {
    color: white !important;
  }
}

.home-second-text {
  height: 3rem;
}

.homebtn-img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}

.homebtn-img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://storage.googleapis.com/vue-course-api.appspot.com/funnie-api/1728798532283.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=VO%2B7AVKaCNDrkrkwjJNaSR0wfZmHVyna2fYuUdlUk2G7YIuPcVVDeOmlvw68H4sVcg2ji2ReQOudGhyiCWhbqI3OCmloXZ756mqsxGqe2374tAoDRZEJoKezVlq%2BjG7OiHpnxRW7lQ3Wrjv0XwVWQBBuREQWsrFcoq8lMTzbs6i%2Fm6dqwuF3iw%2BzpW1om0SGLKEIvsqO7aWXCoHB%2BdzvgcG42n9514mURHi9K6zWEc%2F5VERglKfTNCYLxU%2BYevgkDEOzjXz9ovvDNcbJYAEOvxGQ5K%2FbkZgjXSgqqfJfMA7cPpiIQZpHu8eumY9GXg6gC4G3njGvBuqnCio0di6DxA%3D%3D);
}

.homebtn-img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://storage.googleapis.com/vue-course-api.appspot.com/funnie-api/1728798011377.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=Q3hEWH8%2BsgrrEtMYQ5efj7lo6iL1xjVEYCyF5Ur8c2qn3CSnm5kdFBnFlJT1seCPGUwcAQRyeXVCPQpE4Zd0Fl4HidBKsBmcGkqgvL14JJ58KkGH5x7jHPNZtQuyp1Xu9m3CsFV7M3bpyosvSrLrYvDPpqc1YY4yrjfT8Ly6IHJNqUlk8aWMiShQe1lRsJrVlM4J2SvXEv1TQBEfqGg9jMPlF6mFqHipdtawlVw4SUHVz2VeYvXXgeax0C2oJdiWZ%2FBqsU7ZwUQb0yDoM6WqmwFCwQfI0HvsYRvajwPKOVyghmBzNonC6noIWtJ2vGX2aUrHlv%2BdUtxPYd3R9J45TQ%3D%3D);
}

.homebtn-img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://storage.googleapis.com/vue-course-api.appspot.com/funnie-api/1728798852186.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=Zh4sAz7BtmY273RREyk9u8ytnTMmEDn1tgvBbLTsTAi%2FTkCJdE5UVtniAJxeXH4ATHAR4qLOxFiWj1uKOttePMZuZM18vw%2F%2FUd%2B27GVmxSt53ci9c43tN2FT6RF%2B9mPUHKmDaYzb2cTZ1VDIY9KIRpEv4Z8kVSLXs524YAXdpZqvmlrTnFolYXaj2g4oFjlxfjQTbVpomuyKYEMO2o2vdlgzBRSSnWUnwfH6MVceswqNIDvmGvwwcn%2FZmngrl%2FqOxo%2F60s8zEs5xxpHCg18whGbLsDmUuJLsuEQbEFQPp0VhkTm8F5LzIw%2BzxIZ54ASdFWY1yMeeLZw6lTmqbNb%2FLA%3D%3D);
}
.homebtn-img4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://storage.googleapis.com/vue-course-api.appspot.com/funnie-api/1728799210844.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=bib1DcwmxrjmgGTHoFh3j%2Bv9gaXeS4HocAAGfUNAkz%2FhkuibMoFE943EOFk47v3YI1V4t0M%2FFT7YDSCZh7emmTfWJYpR7WFPCWr%2B7uZd9fjEHijtBqRG1UBzcYxys1BqQGshfNOSPw%2B492obj4%2FkB8C0e%2BRaCdKMOBAjo6VYvCTBmze5cg9bJOBB8bkvvoU0ZQaktsDdrgxTfh7CERrCC8wObtgVkXlF%2BlGwIOiDPZnYJGGfLiw%2B%2FNJjiTJKwVRqqzbC%2BLfj%2F47hClF4kZsxMlpgPC%2BjYgB7s2ktR5ynebSLejoymYtjFcqsimoAEfEM8qQLjeaG4vKvypTGq2ypWg%3D%3D);
}

.about {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://i.imgur.com/3eGy6TD.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home-about-btn {
  &:active {
    color: white !important;
  }
}

.home-bottom-content {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://i.imgur.com/cMLIXzz.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
